*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
a{
    text-decoration: none;

}
li{
    list-style-type: none;
}
body{
    background-color: #FFFFFF;
}
.top-header ul{
   height: 40px;
   display: flex;
   align-items: center;
   list-style: none;
   gap: 15px;
   text-decoration: none;
   margin: 0;
   
}
.top-header {
    display: flex;
    justify-content: space-between;
    
    background-color: #624BFF;
    align-items: center ;
    
    
}
.text-borrow{
    color: white;
    margin: 0;
}
ul{
    color: white;
}
.about-header {
display: flex;
justify-content: space-between;
padding: 1rem 0;
}
.about-header ul{
    height: 40px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
    text-decoration: none;
    margin: 0;
}
a{
    color: black;
}
.logo-img{
    display: flex;
    align-items: center;
}
.about-header button{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color: #624BFF;
    padding: 8px 14px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}
.hero-section swiper-slide img{
    position: relative;
}
.hero-section-slide-content{
    position:absolute;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: 120px;


}
.hero-section-slide-content h1{
    color: #fff;
    font-weight: 700;
    margin: 0;
    display: flex;
    text-align: left;
}
.hero-section-slide-content p{
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.hero-section-slide-content button{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color: #624BFF;
    padding: 14px 18px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    justify-content: center;
}
.section-hero-bottom{
    display: flex;
    gap: 20px;
    align-items: center;
    border-right: 1px solid #e9ecef;
    padding: 20px 0;
}
.section-hero-bottom p{
    margin: 0;
    color: #111;
    margin-top: -10px;
}
.section-hero-bottom h1{
    margin: 0;  
}
.section-hero-bottom-link{
    border-right:none ;
}
.text-warning{
    color: #FFC107;
    text-align: left;
    font-size: 50px;
    font-weight: 700;
}
.description-prolab{
    width: 950px;
    margin: auto;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 28px;
}
.title-prolab{
    width: 900px;
    margin:  auto;
    text-align: center;
}
.inner-box-icon{
    border: 2px solid blue;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    background-color: #fff;
}
.inner-box-icon span{
    font-weight: 700;
    font-size: 22px;
    color: #624BFF;
    display: flex;
    align-items: center;
  
}
.inner-box h3{
text-align: center;
width: 206.4px;
color: #111;
font-size: 18px;
font-weight: 700;
margin-top: 30px;
}
.inner-box p {
    text-align: center;
    width: 206.4px;
}
.inner-box{
    display:flex ;
    flex-direction: column;
    align-items: center;
    width: 33%;
    background: #FFF;
    position: relative;
    transition: all 0.3s;
    border-radius: 8px;
    width: 100%;
    z-index: 99;
    padding: 30px;
    border-top: 1px solid #e9ecef;
    border-bottom:  1px solid #e9ecef;
    border-left:  1px solid #e9ecef;
    border-right:  1px solid #e9ecef;
    position: relative;
}
.start-button{
    color: #FFFFFF;
    background: #624BFF;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 35px;
}
.title-prolab{
    margin-top: 100px;
}
.application-section-button{
display: flex;
align-items: center;
justify-content: center;

}
#products-section{
   width: 100%;
   height: 100%;
   background-color: #f8f9fa;
   padding: 100px 0;
}
.products-section-title{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.products-section-title p{
width: 800px;
margin: auto;
text-align: center;
margin-bottom: 60px;
font-size: 20px;
color: #6c757d;

}
.products-section-title p span{
    font-weight: 800;
    color: #6c757d;
}
.products-section-title h1{
width: 900px;
text-align: center;
font-weight: 600;
font-size: 35px;

}

.products-section-item{
    width: 100%;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow:0 2px 4px rgba(0,0,20,.08),0 1px 2px rgba(0,0,20,.08);
    text-align: left;
}
.products-section-item img{
    width: 25%;
}

.products-section-item h3 a{
    color: 151e28;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
}
.products-section-item p{
    margin: 0;
    font-size: 16px;
    color: #6c757d;
    
}
.products-section-item-link{
    font-weight: 700;
    border-bottom-color: 2px solid #624bff;
    
}
.election-section-title h1{
width: 648px;
margin: auto;
text-align: center;
font-weight: 600;
font-size: 35px;

}
.election-section-title p {
width: 688px;
margin: auto;
text-align: center;
margin-top: 28px;
margin-bottom:28px;
font-size: 15px;
color: #6c757d;

}
.election-box p{
text-align: center;
width: 147.73px;
color: #6c757d;
margin: 0px 0px 24px;
font-size: 16px;

}
.election-box h3{
    text-align: center;
    width: 140px;
    color:#111;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin: 0px 0px 8px;


}
.img-election{
    width: 58px;
}
.election-box{
display: flex;
flex-direction: column;
align-items: center;
width: 33%;
background: #FFF;
position: relative;
transition: all 0.3s;
border-radius: 8px;
width: 100%;
z-index: 99;
padding: 30px;
border-top:1px solid #e9ecef;
border-bottom: 1px solid #e9ecef;
border-left: 1px solid #e9ecef;
position: relative;
}
#election-section{
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    padding: 100px 0;
}
.testimonials-section-title{
    padding-bottom: 50px;
}
.testimonials-section-title h1{
width:648px;
margin: auto;
text-align: center;
font-weight: 700;
font-size: 35px;
color: #FFFFFF;

}
.testimonials-section-title p{
width: 688px;
margin: auto;
text-align: center;
margin-top: 28px;
margin-bottom:28px;
font-size: 16px;
color: #FFFFFF80;

}
#testimonials-section{
    width: 100%;
    height: 100%;
    background-color: #151e28;
    padding: 100px 0;
}
.testimonials-box{
    color: white;
    display:flex ;
    flex-direction: column;
    align-items: center;
    width: 33%;
    background: #FFF;
    position: relative;
    transition: all 0.3s;
    border-radius: 8px;
    width: 100%;
    z-index: 99;
    padding: 30px;
    border-top: 1px solid #e9ecef;
    border-bottom:  1px solid #e9ecef;
    border-left:  1px solid #e9ecef;
    border-right:  1px solid #e9ecef;
    position: relative;
}
.testimonials-box p{
    color: #151e28;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
}
.people-img{
    width: 200px;
    display: flex;
    margin-top: 30px;
}
.people-img h4{
    font-size: 16px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: left;
    margin-left: 15px;

}
.people-img span{
    font-weight: 700;
    font-size: 10px;
    color: #FFFFFF80;
}
.people-img img{
    width: 20%;
    height: 20%;
    border-radius: 10px;
}
.people-name{
    color:#FFFFFF;
    display: flex;
}
.advertising-cart ul{
    display: flex;
    gap: 55px;
}
#advertising-section{
    width: 100%;
    height: 100%;
    background-color:#FFFFFF;
    padding: 30px 0;
    

}
.information-section-title h1{
    width: 908px;
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}
.information-section-title p{
width: 928px;
margin: auto;
text-align: center;
margin-top: 28px;
margin-bottom:28px;
font-size: 16px;
color: #6c757d;
}
#information-section{
width: 100%;
height: 100%;
background-color: #f8f9fa;
padding: 100px 0;
}
.information-section-inner-box{
    border: 1px solid #e9ecef;
    width: 80%;
    border-radius: 10px;
}
.information-section-inner-box img{
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
}

.information-section-inner-box-content{
    padding: 32px;
}
.information-section-inner-box-content h3 {
    font-weight: 700;
    font-size: 20px;
}
.information-section-inner-box-content div{
    color: #6c757d;
    display: flex;
    gap: 10px;
}
.information-section-inner-box-content div span{
    font-weight: 700;
    color: #6c757d;
    font-size: 13px;
}
.information-section-inner-box-content div div{
    width: 2px;
    height: 15px;
    margin-top: 3px;
    background-color: #e9ecef;
}
.information-section-inner-box-content span a{
    color: #624BFF;
}
.information-section-inner-box-content-text{
    color: #6c757d;
    font-size: 16px;
    font-family:"Inter" " sans-serif";
    font-weight: 400;
    margin-top: 15px;
    width: 105%;

}
.information-section-inner-box-content-link{
    color: #624BFF;
    border-bottom: 2px solid #624BFF;
    font-weight: 700;
    font-size: 14px;
}
.chllenge-section-title h1{
 width: 908px;
margin: auto;
text-align: center;
font-weight: 600;
font-size: 35px;

}
.chllenge-section-title p{
width:928px ;
margin: auto;
text-align: center;
margin-top: 28px;
margin-bottom:28px;
font-size: 16px;
color: #6c757d;
}
.chllenge-section-inner-boxs{
    text-align: center;
    background: #F7F9FF;
    position: relative;
    transition: all 0.3s;
    border-radius: 3px;
    width: 100%;
    position: relative;
    z-index: 99;
    padding:100px; 
    margin-bottom: 10px;
}
.chllenge-section-inner-boxs-content-link{
    color: #624BFF;
    border-bottom: 2px solid #624BFF;
    font-weight: 700;
    font-size: 14px;
}
.chllenge-section-text h1{
    font-size: 25px;
    color: black;
        
}
.chllenge-section-inner-boxs-content-info-link{
    color: #624BFF;  
    font-weight: 700;
    font-size: 14px;
}
.chllenge-section-text p{
    color: #6c757d;
}
.chllenge-section-img{
    width: 32px;
   margin: auto;
   margin-bottom: 55px;
}



